.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 4px;
}

form > div {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

table {
  margin-top: 30px;
}

table,
td,
th,
tr {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  user-select: none;
  cursor: pointer;
}

th > div > img {
  width: 10px;
}

th,
td {
  padding: 5px;
}
